*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 3rem;
}

.btn-group-lg{
    display: flex;
    gap: 0.8rem;
}

#input{
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#paragraph{
    font-size: 4rem;
}

#input-minutes{
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    font-size: 2.7rem;
}

#container-timer{
    display: flex;
    flex-direction: row;
}